@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.selected {
  background-color: #1b192d;
}

.nav-items {
  gap: calc(50px - 2.5rem);
}

.input-field-right-label::after {
  content: attr(data-content-right);
  translate: -2.5rem 0;
  width: 0;
}

.icon {
  background-image: url("https://placehold.co/70");
}

.appearance-none {
  -moz-appearance: textfield;
}

.search-input:has(> input:focus) {
  border-color: rgb(98 126 234 / var(--tw-text-opacity));
}

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: #0b0819;
}

@media (max-width: 512px) {
  ::-webkit-scrollbar {
    width: 0.25rem;
    border-radius: 0.25rem;
  }
}

::-webkit-scrollbar-thumb {
  background-color: #627eea;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3387d5;
}

.tdgrad {
  color: #fff;
  background-clip: padding-box;
  border: solid 1px transparent;
  border-radius: 99rem;
  position: relative;
}

.tdgrad::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  margin: -1px !important;
  border-radius: inherit !important;
  background: linear-gradient(to bottom right, white, transparent);
}
.tdgrad1 {
  color: #fff;
  background-clip: padding-box;
  border: solid 1px transparent;
  border-radius: 1rem;
  position: relative;
}

.tdgrad1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px !important;
  border-radius: inherit !important;
  background: linear-gradient(to bottom right, #3b79d4, transparent);
}

.container {
  position: relative;
  background: transparent;
}

.container::before {
  content: "";
  position: absolute;
  mask: url("/round.svg") 50% 0px/134px 50px no-repeat,
    linear-gradient(white, white);
  mask-composite: exclude;
  background: rgb(11 8 25 / var(--tw-bg-opacity));
  border-radius: 18px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px !important;
  border-radius: inherit !important;
  mask: url("/round.svg") 50% 0px/134px 50px no-repeat,
    linear-gradient(white, white);
  mask-composite: exclude;
  background: linear-gradient(to bottom, #46425e, rgba(0, 0, 0, 0));
}

.border-grad {
  position: relative;
  background-clip: padding-box;
  z-index: 5;
}

.border-grad::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: -1px;
  background: linear-gradient(to bottom, #46425e, rgba(0, 0, 0, 0));
  border-radius: 0.75rem;
}
