@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.selected {
  background-color: #1b192d;
}

.icon {
  background-image: url("https://placehold.co/70");
}

.appearance-none {
  -moz-appearance: textfield;
}

.search-input:has(> input:focus) {
  border-color: rgb(98 126 234 / var(--tw-text-opacity));
}

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: #0b0819;
}

@media (max-width: 512px) {
  ::-webkit-scrollbar {
    width: 0.25rem;
    border-radius: 0.25rem;
  }
}

::-webkit-scrollbar-thumb {
  background-color: #627eea;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3387d5;
}

/* .Logo {
  color: transparent;
  background-image: linear-gradient();
} */

/* .container {
  position: relative;
}

.container::before {
  content: "";
  width: 448px;
  height: calc(566px + 2rem);
  position: absolute;
  mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 80 80" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"><circle cx="40" cy="40" r="40" style="fill: black" /></svg>')
      50% -40px/80px 80px no-repeat,
    linear-gradient(white, white);
  mask-composite: exclude;
  background: transparent;
  top: -2rem;
} */
